.root {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--palette-primary-main);
  color: var(--palette-primary-contrast-text);
  cursor: pointer;
  transition: background-color 0.25s;
}

.root:hover {
  background-color: var(--palette-primary-dark);
}

.disabled {
  color: var(--palette-action-disabled);
  background-color: var(--palette-action-disabled-background);
}

.fullWidth {
  width: 100%;
}

.active {
}

.root:focus {
  outline: 4px auto var(--palette-primary-dark);
}
