.root {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 6px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.root:hover {
  border-color: #646cff;
}

.disabled {
  background-color: #3a3a3a;
}

.active {
}

.focusVisible {
  outline: 4px auto #646cff;
}
